In [1]:
import pandas as pd

df = pd.read_excel("Global_Variables.xlsx")

In [2]:
df

,Employee_Name,Employee_Address,Employer_Name,Employer_Address,SIN_Number,doc_options
0,Hanad,abc,Walee,ABC,123456789,"1,2,3"
1,kamil,abc,Walee,abc,111222333,NaN
2,Shah,abc,Walee,abc,222555888,NaN

In [6]:
for index, row in df.iterrows():
    
    int_numbers = row['doc_options'].split(",")
    int_list = list(map(int, int_numbers))
    print(int_list)

[1, 2, 3]

AttributeError: 'float' object has no attribute 'split'

In [7]:
def making_folder(folder_name):
    import os
    folder_path = f'C:\\Users\\HP\\Desktop\\PAYSTUB\\Results\\{folder_name}'
    if not os.path.exists(folder_path):
        os.makedirs(folder_path)
    return

In [8]:
making_folder("Hanad")